/*Global*/
*{
	margin: 0;
	padding: 0;
    font-family: sans-serif;
}

input:invalid {
    box-shadow: none;
}

textarea:invalid{
	box-shadow: none;
}

.container{
	display: flex;
	justify-content: center;
}


/*LOGIN PAGE*/
.login-box{
	width: 400px;
	height: 500px;
	background-color: #fff;
	margin-top: 5%;
	border-radius: 20px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .3);
}


/*LOGIN Image box*/
.login-box .image{
	display: flex;
	justify-content: center;
	height: 180px;
}

.login-box .image img{
	margin-top: 20px;
	height: 150px;
}


/*LOGIN Form login*/
.login-box .form{
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form input{
	margin: 10px;
	padding: 10px;
	width: 200px;
	border-radius: 5px;	
	border: 3px solid rgba(0, 0, 0, .1);
}

.form input:focus{
	box-shadow: 0 0 5px 2px #478dff;
}


/*LOGIN Button Form*/
.login-box .button{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.button .submit{
	width: 100px;
	padding: 8px;
	margin: 5px 10px 0;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid skyblue;
	background-color: #3b86ff;
	color: white;
	font-size: 15px;
}

.button .submit:hover, .button a:hover{
	color: lightblue;
}


.button  a{
	padding: 8px;
	box-sizing: border-box;	
	margin: 5px 15px 0;
	border: 2px solid skyblue;
	border-radius: 5px;
	display: inline-block;	
	width: 100px;
	background-color: #3b86ff;
	font-size: 15px;
	color: white;
	text-decoration: none;
	align-self: center;
	text-align: center;
}

.button .submit:active,.button .register:active{
	box-shadow: 0 0 5px 2px #478dff;
}


/*REGISTRASION PAGE*/
.regis-box{
	width: 400px;
	height: 630px;
	background-color: #fff;
	margin-top: 1%;
	border-radius: 20px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .3);
}


/*REGISTRASION PAGE Form*/
.form-regis{
	width: 100%;
	display: flex;
	justify-content: center;
}

.form-regis form{
	width: 100%;
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
}

.regis-box .head h1{
	text-align: center;
    margin-top: 20px;
}


/*REGISTRASION PAGE Input Box*/
.input-box input,.input-box textarea{
    margin: 15px;
    padding: 10px;
    width: 300px;
    border-radius: 5px; 
    border: 3px solid rgba(0, 0, 0, .1); 
}

.input-box input{
    display: block;
}

.input-box input:focus,.input-box textarea:focus{
    box-shadow: 0 0 5px 2px #478dff;
}


/*REGISTRASION PAGE Level Choose*/
.level{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 18px;
    padding: 20px;
}

.level label{
    margin: 0 5px 0;
    padding: 8px;
}

.level label,.level input{
    cursor: pointer;
}

.level input{
    display: none;

}

.level input[type="radio"]:checked + label{
    background-color: #3b86ff;
    color: white;
}   

.level .admin label,.level .user label{
    display: inline-block;
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, .1); 
    width: 150px;
    margin: 0 10px 0;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}


/*REGISTRASION PAGE Submit Form*/
.button-regis{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.button-regis .submit{
    width: 325px;
    padding: 8px;
    margin: 5px 10px 0;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid skyblue;
    background-color: #3b86ff;
    color: white;
    font-size: 15px;
}

.button-regis .submit:hover{
    color: lightblue;
}

.button-regis .submit:active{
    box-shadow: 0 0 5px 2px #478dff;
}
